@import './base.css';

body {
background: var(--color-background);
}

a {
    text-decoration: none;
}

@font-face {
    font-family: "Adlery";
    src: url("@/font/Adlery_TRIAL.ttf") format("truetype")
  }
 

  @font-face {
    font-family: "Dosis";
    src: url("@/font/Dosis.ttf") format("truetype")
  }
 